body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 0;
 }
 
 p {
    margin-bottom: 1.6em;
 }
 
 
 .header {
     background: #333;
     color: white;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
 }
 
 .header a {
     color: white;
     text-decoration: none;
 }
 
 .logo-nav-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .navegation ul {
     margin: 20px;
     padding: 20px;
     list-style: none;
 }
 
 .navegation ul li {
    display: inline-block;
 }
 
 .menu {
     margin-top: 20rem;
 }
 
 .navegation ul li a {
     display: block;
     padding: 0.5rem 1rem;
     transition: all 0.4s linear;
     border-radius: ;
 } 
 
 .navegation ul li a:hover {
     background: rgb(235, 232, 232);
 }