.cabeza { 
    font-weight: 10;
    font-size: 100px;
}

.firts {
    color: rgb(0, 0, 0);
    font-size: 400;
}
.second {
    color: rgb(12, 12, 12);
}

.samsunga21s {
    width: 20%;
}

.imagenes {
    display: flex;
}

.iphone12 {
    width: 15%;
    margin-right: 50px;
}
.imagen1 {
}
